# Day 1 â€“ Python Basics
_Aayushi's Learning Journal_ ðŸ“˜

Topics Covered:
- Variables and Data Types
- `print()` and `input()`
- Simple expressions

In [ ]:
# Print a greeting message
print("Welcome to Python!")

In [ ]:
# Store personal information in variables
name = "Aayushi"
age = 26
city = "New York"

print(name, age, city)

In [ ]:
# Take user input and print it
user_name = input("What's your name? ")
print("Hello", user_name)

In [ ]:
# Data type example
num = 10          # int
price = 15.99     # float
is_student = True # bool
message = "Hi"    # string

print(type(num), type(price), type(is_student), type(message))

In [ ]:
# Mini Task â€“ Weekly Water Intake
glasses = int(input("How many glasses of water did you drink today? "))
print("You might drink", glasses * 7, "glasses in a week!")